name: Linter for reference content
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/reference_linter.yaml"
      - ".github/scripts/reference_linter.py"
      - ".github/scripts/linter_config.json"
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          path: src
      - name: Clone repository (default branch)
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v3
        with:
          path: base
          ref: "${{github.event.pull_request.base.sha}}"
      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install Python dependencies
        run: |
          pip install -r src/.github/requirements.txt
      - name: Lint projects
        continue-on-error: true
        run: |
          python src/.github/scripts/reference_linter.py --toml src/firefox.toml --config src/.github/scripts/linter_config.json --dest errors.txt
          python src/.github/scripts/reference_linter.py --toml src/focus.toml --config src/.github/scripts/linter_config.json --dest errors.txt
      - name: Check for unchanged IDs
        if: github.event_name == 'pull_request'
        continue-on-error: true
        run: |
            python src/.github/scripts/detect_unchanged_ids.py --base base --head src --toml firefox.toml --dest errors.txt
            python src/.github/scripts/detect_unchanged_ids.py --base base --head src --toml focus.toml --dest errors.txt
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: errors-list
          path: errors.txt
          if-no-files-found: ignore
      - name: Fail on errors
        run: |
          if [ -f "errors.txt" ]; then
            cat errors.txt
            exit 1
          fi
